Package: com.antisocial.patch
Name: antisocial_patch
Version: 1.0.0
Architecture: iphoneos-arm
Description: Token check bypass for antisocial
Author: YourName
Maintainer: YourName
Section: Tweaks
Depends: mobilesubstrate